
{% extends "events/base.html" %}

{% block content %}

<h1>Upload Event</h1>

<p>
{% if form.has_errors %}
<b class=error>Please correct the following error{{ form.error_dict|pluralize }}:</b>
{% else %}
&nbsp;
{% endif %}

<form action="." method="POST" enctype="multipart/form-data">

    <table border="0">

        <tr>
            <td align="right" valign="top"><label for="id_name">name for this event:</label></td>
            <td valign="top">{{ form.name }}</td>
            <td valign="top">{% if form.name.errors %}<span class=error>{{ form.name.errors|join:", " }}</span>{% endif %}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_cmtsolution">local file to upload:</label></td>
            <td valign="top">{{ form.cmtsolution }} {{ form.cmtsolution_file }}</td>
            <td valign="top">{% if form.cmtsolution.errors %}<span class=error>{{ form.cmtsolution.errors|join:", " }}</span>{% endif %}</td>
        </tr>

    </table>

    <p><i>Uploaded files must be in CMTSOLUTION format.</i>

    <p><input type="submit" value="Upload" />
</form>

{% endblock %}
