
{% extends "events/base.html" %}

{% block content %}

<h1>Events</h1>

    <p><a href="search/">Search for an event</a> ~
       <a href="add/">Add an event manually</a> ~
       <a href="upload/">Upload an event</a>

{% if object_list %}
    <table border=1 rules=groups>
        <colgroup><col class=odd></colgroup>
        <colgroup><col class=even></colgroup>

        <thead>
        <tr>
            <th align="left" valign="top">name</th>
            <th align="left" valign="top">sources</th>

        </tr>
        </thead>

        <tbody>
        {% for object in object_list %}
        <tr>
            <td valign="top"><a href="{{ object.id }}/">{{ object.name }}</a></td>
            <td valign="top">{{ object.source_set.count }}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
{% else %}
    <p>You have no events.</p>
{% endif %}

{% endblock %}
