
{% extends "events/base.html" %}

{% block content %}

<h1>{{ object.name }}</h1>

    <p><a href="edit/">Edit</a> ~ <a href="delete/">Delete</a>

    <p>{{ object.source_set.count }} source{{ object.source_set.count|pluralize }}

    <table border=1 rules=groups>
        <colgroup><col class=odd></colgroup>
        <colgroup><col class=even></colgroup>
        <colgroup><col class=odd><col class=even></colgroup>
        <colgroup><col class=odd></colgroup>

        <thead>
        <tr>
            <th align="left" valign="top">name</th>
            <th align="left" valign="top">time shift</th>
            <th align="left" valign="top">latitude</th>
            <th align="left" valign="top">longitude</th>
            <th align="left" valign="top">depth</th>

        </tr>
        </thead>

        <tbody>
        {% for source in object.source_set.all %}
        <tr>
            <td valign="top"><a href="../sources/{{ source.id }}/"><img width=49 height=49 align=middle border=0 src="http://www.seismology.harvard.edu/cgi-bin/webCMTgif/form?mrr={{source.mrr}}&mtt={{source.mtt}}&mpp={{source.mpp}}&mrt={{source.mrt}}&mrp={{source.mrp}}&mtp={{source.mtp}}"> {{ source.eventName }}</a></td>
            <td valign="top">{{ source.timeShift }}</td>
            <td valign="top">{{ source.latitude }}</td>
            <td valign="top">{{ source.longitude }}</td>
            <td valign="top">{{ source.depth }}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

    <p>

{% endblock %}
