
{% extends "events/base.html" %}

{% block content %}

<h1><img width=49 height=49 align=left border=0 src="http://www.seismology.harvard.edu/cgi-bin/webCMTgif/form?mrr={{object.mrr}}&mtt={{object.mtt}}&mpp={{object.mpp}}&mrt={{object.mrt}}&mrp={{object.mrp}}&mtp={{object.mtp}}"> {{ object.eventName }}</h1>

    <p><a href="edit/">Edit</a> ~ <a href="delete/">Delete</a>

    <p>

    <table border="0">

        <tr>
            <td align="right" valign="top"><label for="id_dataSource">data source:</label></td>
            <td valign="top">{{ object.dataSource.name }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_when_date">date:</label></td>
            <td valign="top">{{ object.when.date }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_when_time">time:</label></td>
            <td valign="top">{{ object.when.time }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_microsecond">microsecond:</label></td>
            <td valign="top">{{ object.microsecond }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_sourceLatitude">sourceLatitude:</label></td>
            <td valign="top">{{ object.sourceLatitude }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_sourceLongitude">sourceLongitude:</label></td>
            <td valign="top">{{ object.sourceLongitude }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_sourceDepth">sourceDepth:</label></td>
            <td valign="top">{{ object.sourceDepth }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_sourceMB">sourceMB:</label></td>
            <td valign="top">{{ object.sourceMB }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_sourceMs">sourceMs:</label></td>
            <td valign="top">{{ object.sourceMs }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_region">region:</label></td>
            <td valign="top">{{ object.region }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_eventName">event name:</label></td>
            <td valign="top">{{ object.eventName }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_timeShift">time shift:</label></td>
            <td valign="top">{{ object.timeShift }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_halfDuration">half duration:</label></td>
            <td valign="top">{{ object.halfDuration }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_latitude">latitude:</label></td>
            <td valign="top">{{ object.latitude }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_longitude">longitude:</label></td>
            <td valign="top">{{ object.longitude }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_depth">depth:</label></td>
            <td valign="top">{{ object.depth }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_Mrr">Mrr:</label></td>
            <td valign="top">{{ object.Mrr }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_Mtt">Mtt:</label></td>
            <td valign="top">{{ object.Mtt }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_Mpp">Mpp:</label></td>
            <td valign="top">{{ object.Mpp }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_Mrt">Mrt:</label></td>
            <td valign="top">{{ object.Mrt }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_Mrp">Mrp:</label></td>
            <td valign="top">{{ object.Mrp }}</td>
        </tr>

        <tr>
            <td align="right" valign="top"><label for="id_Mtp">Mtp:</label></td>
            <td valign="top">{{ object.Mtp }}</td>
        </tr>

    </table>

    <p>

{% endblock %}
