include MANIFEST.in
include blade/toolkits/gnome-2.x/__vault__.odb
include blade/toolkits/gnome-2.x/viewer.odb
include blade/toolkits/gnome/__vault__.odb
include blade/toolkits/gnome/viewer.odb
include blade/toolkits/gtk-2.x/__vault__.odb
include blade/toolkits/gtk-2.x/viewer.odb
include blade/toolkits/gtk/__vault__.odb
include blade/toolkits/gtk/viewer.odb
include blade/toolkits/__vault__.odb
include blade/__vault__.odb
include elc/ice.odb
include elc/mpi.odb
include elc/serial.odb
include elc/__vault__.odb
include journal/colors/dark-bg.odb
include journal/colors/light-bg.odb
include journal/colors/none.odb
include journal/colors/__vault__.odb
include journal/devices/color-console.odb
include journal/devices/console.odb
include journal/devices/db.odb
include journal/devices/file.odb
include journal/devices/remote.odb
include journal/devices/__vault__.odb
include journal/devices/xterm-color.odb
include journal/devices/xterm.odb
include journal/__vault__.odb
include mpi/launchers/mpich.odb
include mpi/launchers/__vault__.odb
include mpi/__vault__.odb
include pulse/bath.odb
include pulse/heaviside.odb
include pulse/__vault__.odb
include pyre/hooks/built-in.odb
include pyre/hooks/current.odb
include pyre/hooks/ultraTB.odb
include pyre/hooks/__vault__.odb
include pyre/idd/idd-pickler.odb
include pyre/idd/__vault__.odb
include pyre/ipa/ipa-pickler.odb
include pyre/ipa/__vault__.odb
include pyre/launchers/__vault__.odb
include pyre/schedulers/lsf.odb
include pyre/schedulers/none.odb
include pyre/schedulers/pbs.odb
include pyre/schedulers/scripts/lsf/batch.sh.odb
include pyre/schedulers/scripts/lsf/__vault__.odb
include pyre/schedulers/scripts/pbs/batch.sh.odb
include pyre/schedulers/scripts/pbs/__vault__.odb
include pyre/schedulers/scripts/sge/batch.sh.odb
include pyre/schedulers/scripts/sge/__vault__.odb
include pyre/schedulers/scripts/tacc-ranger/batch.sh.odb
include pyre/schedulers/scripts/tacc-ranger/__vault__.odb
include pyre/schedulers/scripts/__vault__.odb
include pyre/schedulers/sge.odb
include pyre/schedulers/tacc-ranger.odb
include pyre/schedulers/__vault__.odb
include pyre/__vault__.odb
include pyre/weaver/mills/c.odb
include pyre/weaver/mills/csh.odb
include pyre/weaver/mills/cxx.odb
include pyre/weaver/mills/f77.odb
include pyre/weaver/mills/f90.odb
include pyre/weaver/mills/html.odb
include pyre/weaver/mills/make.odb
include pyre/weaver/mills/perl.odb
include pyre/weaver/mills/python.odb
include pyre/weaver/mills/sh.odb
include pyre/weaver/mills/tex.odb
include pyre/weaver/mills/__vault__.odb
include pyre/weaver/mills/xml.odb
include pyre/weaver/__vault__.odb
