# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#                      California Institute of Technology
#                        (C) 2006  All Rights Reserved
#
# {LicenseText}
#
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#

[dark-bg]

filename  = DarkGray
line      = DarkGray
function  = DarkGray
src       = DarkGray

facility          = LightPurple
severity-debug    = LightCyan
severity-info     = LightGreen
severity-error    = LightRed
severity-warning  = Yellow


# end of file
