# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#                      California Institute of Technology
#                        (C) 2006  All Rights Reserved
#
# {LicenseText}
#
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#

[light-bg]

filename  = LightGray
line      = LightGray
function  = LightGray
src       = LightGray

facility          = Purple
severity-debug    = Cyan
severity-info     = Green
severity-error    = Red
severity-warning  = Brown


# end of file
