## -*- sh -*-
#compiler-settings
directiveStartToken = @
#end compiler-settings
@from pyre.schedulers import BatchScriptTemplate
@extends BatchScriptTemplate
@implements respond
@set $self.substitutions = {'job.id': "$JOB_ID"}
#$ -S ${scheduler.shell}
#$ -V
#$ -cwd
#$ -N ${job.task}
@if $job.queue
#$ -q ${job.queue}
@end if
@if max($job.walltime)
#$ -l h_rt=@echo ("%d:%02d:%02d" % $job.walltime[0:3])
@end if
@if $self.stdout
#$ -o ${self.stdout}
@end if
@if $self.stderr
#$ -e ${self.stderr}
@end if
@for option in $scheduler.qsubOptions
#$ ${option}
@end for
#$ -pe @echo '%dway %d' % ($scheduler.tpn, $scheduler.cores)

@if $job.nodes % $scheduler.tpn
export MY_NSLOTS=$job.nodes
@end if

@set $self.substitutions = {'job.id': "${JOB_ID}"}

${job.executable} @echo ' '.join($job.arguments)

@if $job.comments
# ~~~~ comments ~~~~
@for line in $job.comments
# ${line}
@end for
@end if

# ~~~~ submit command ~~~~
# ${scheduler.command} < [script]
