## -*- sh -*-
#compiler-settings
directiveStartToken = @
#end compiler-settings
@from pyre.schedulers import BatchScriptTemplate
@extends BatchScriptTemplate
@implements respond
@set $self.substitutions = {'job.id': "${PBS_JOBID}"}
#!${scheduler.shell}
#PBS -S ${scheduler.shell}
#PBS -N ${job.task}
@if $job.queue
#PBS -q ${job.queue}
@end if
@if $self.stdout
#PBS -o ${self.stdout}
@end if
@if $self.stderr
#PBS -e ${self.stderr}
@end if
@if $job.resourceList
#PBS -l @echo ','.join($job.resourceList)
@end if
@for option in $scheduler.qsubOptions
#PBS ${option}
@end for

cd \$PBS_O_WORKDIR
${job.executable} @echo ' '.join($job.arguments)

@if $job.comments
# ~~~~ comments ~~~~
@for line in $job.comments
# ${line}
@end for
@end if

# ~~~~ submit command ~~~~
# ${scheduler.command} < [script]
