
{% extends "stations/base.html" %}

{% block content %}

<h1>Station Search</h1>

<p><b>by code</b> | <a href="../location/">by location</a>

<p>
{% if form.has_errors %}
<b class=error>Please correct the following error{{ form.error_dict|pluralize }}:</b>
{% else %}
&nbsp;
{% endif %}

<form method="post" action=".">
    <p>Station code: {{ form.code }} {% if form.code.errors %}<span class=error>{{ form.code.errors|join:", " }}</span>{% endif %}
    <p><input type="submit" value="Search" />
</form>

{% endblock %}
