
{% extends "stations/base.html" %}

{% block content %}

<h1>Station Networks</h1>

{% if object_list %}
    <table border="0">
        <tr>
            <th align="left" valign="top">code</th>
            <th align="left" valign="top">name</th>
        </tr>

        {% for object in object_list %}
        <tr>
            <td valign="top"><a href="{{ object.code }}/">{{ object.code }}</a></td>
            <td valign="top">{{ object.name }}</td>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>There are no stations.</p>
{% endif %}

{% endblock %}
