
{% extends "stations/base.html" %}

{% block content %}

<h1>Remove Stations</h1>

<p>The following stations have been removed from your list:

<form method="post" action="../add/">
    <ul>
    {% for station in stations %}
        <li>{{ station }}<input type="hidden" name="stations" value="{{ station }}" />
    {% endfor %}
    </ul>
    <input type="submit" value="Undo" />
</form>

<hr>

<ul>
    <li><a href="../search/location/">Search for stations</a>
    <li><a href="../networks/">Browse station networks</a>
</ul>

{% endblock %}
