
{% extends "events/base.html" %}

{% block content %}

<h1>Station List</h1>

<p>
{% if form.has_errors %}
<b class=error>Please correct the following error{{ form.error_dict|pluralize }}:</b>
{% else %}
&nbsp;
{% endif %}

<form method="post" action=".">

    <table border="0">

        <tr>
            <td align="right" valign="top"><label for="id_name">name:</label></td>
            <td valign="top">{{ form.name }}</td>
            <td valign="top">{% if form.name.errors %}<span class=error>{{ form.name.errors|join:", " }}</span>{% endif %}</td>
        </tr>

    </table>
    <p><input type="submit" value="Save" />
</form>
{% endblock %}
