
{% extends "stations/base.html" %}

{% block scripts %}
{{ block.super }}
{% include "stations/check_all.html" %}
{% endblock %}

{% block content %}

<h1>Station Network {{ object.code }}</h1>

<p>{{ object.name }}

<p><a href="gearth.kml"><img src="http://crust.geodynamics.org/~leif/kml.jpg" align="center"> View in Google Earth</a>

{% if object.station_set.all %}
    <form method="post" action="../../add/">
        <p><input type="submit" value="Add selected stations" /> ~
           <input type="button" value="Check all" onClick="checkAll(this.form.stations, true)" />
           <input type="button" value="Unheck all" onClick="checkAll(this.form.stations, false)" />
        <table border="0">
            <tr>
                <th align="left" valign="top"></th>
                <th align="left" valign="top">code</th>
                <th align="left" valign="top">name</th>
            </tr>

            {% for station in object.station_set.all %}
            <tr>
                <td valign="top"><input type="checkbox" name="stations" value="{{ station.code }}" /></td>
                <td valign="top"><a href="{{ station.code }}/">{{ station.code }}</a></td>
                <td valign="top">{{ station.name }}</td>
            </tr>
            {% endfor %}

        </table>
    </form>
{% else %}
    <p>This network has no stations.</p>
{% endif %}

{% endblock %}
